<div class="card">
 <%= link_to image_tag(transphoto.image.variant(resize: '500x500'), class: :card__img ), transphoto_path(transphoto.id), method: :get%>
 <div class="card__body">
    <%= link_to "#{transphoto.title}", transphoto_path(transphoto.id), method: :get, class: :card__title%>
    <p class="card__summary">
      <%= link_to "#{transphoto.from_to}" %>
    </p>
    <%= link_to "by #{transphoto.user.name}", user_path(transphoto.user), class: :card__user %>
  </div>
</div>