<main class="main">
  <div class="inner">
 
      <div class="greeting">
        こんにちは、
        
      </div>

    <div class="card__wrapper">
      <div class="transphotos">

      </div>
    </div>

  </div>
</main>
